.videoDetail_container {
    padding: 3rem 4rem;
    width: 100%;
}
.video_container video {
    width: 100%;
}
.video_info_container {
    padding: 1rem 0;
    display: flex;
}
.video_info_writer_thumbnail {
    margin-right: .5rem;
}
.video_info_writer_thumbnail img {
    width: 80%;
}
.userAction_container {
    margin-left: auto;
    display: flex;
}
.userAction_container button {
    margin-left: 1.5rem;
}
.delete_video_btn {
    border-radius: 10px;
    font-weight: 500;
    border: none;
}