.dropzone {
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropzone_thumbnail img {
    width: 100%;
    height: 100%;
}
.dropzone_container {
    border: 1px solid black;
}
.upload_message {
    margin:0;
    font-size:1rem;
    font-weight: 500;
}