.dropzone {
    height: 240px;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropzone_thumbnail img {
    width: 100%;
    height: 100%;
}